*
!companions
!docs
!prisma/schema.prisma
!src
!.yarnrc.yml
!cache-handler.mjs
!image-loader.mjs
!next.config.ts
!next-env.d.ts
!package.json
!postcss.config.js
!tsconfig.json
!yarn.lock
!schema.zmodel
!eslint.config.js
!prettier.config.js
